*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Header*/

header{
    padding: 65px 165px ;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.nav_sitio{
    list-style: none;
    float: right;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 400px;
}

nav ul li{
    display: inline-block;
    margin: 0px 5px;
}

.items-nav{
    text-decoration: none;
    color: black;
}

.items-nav:hover{
    opacity: 50%;
}

button{
    background-color: #8B48BF;
    border: 1px solid white;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    height: 44px;
    width: 134px;
}

/*Boby*/
/*Sección 1*/

.titulo{
    padding: 100px 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo div{
    width: 450px;
    height: 400px;  
    text-align: right;
    display: grid;
    align-items: center;
    justify-items: right;
}

h1{
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 20px;
}

.titulo div h4{
    font-size: 1rem;
    line-height: 26px;
    margin-bottom: 20px;
}

/*Sección 2*/

.pie1{
    background-color: #8B48BF;
    padding: 40px 200px;
    display: flex;
    justify-content: space-between;
    color: #FFFF;
}

.pie1 p{
    width: 450px;
    height: 88px;
    text-align: left;
}

.pie1 h2{
    width: 450px;
    height: 88px;
    font-size: 36px;
}

/*Elementos del footer - Mobile first*/

footer{
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    width: 100vw;
}

footer div{
    padding-bottom: 50px;
}

.suscription{
    padding-top: 40px;
}

.suscription form input{
    border: 0px;
    border-radius: 20px;
    height: 42px;
    width: 300px;
}

.suscription form button{
    border: 0px;
    width: 63px;
}

.mapa_sitio{
    align-content: space-around;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 7em;
    line-height: 28px;
    width: 80vw;
}

.red_social{
    display: flex;
    justify-content: space-around;
    width: 100vw;
}

.copyright{
    color: #8C8C94;
}

/*Responsive*/

