*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Header*/

header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 65px 165px ;
    text-align: center;
}

.nav_sitio{
    float: right;
    list-style: none;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 400px;
}

nav ul li{
    display: inline-block;
    margin: 0px 5px;
}

.items-nav{
    color: black;
    text-decoration: none;
}

.items-nav:hover{
    opacity: 50%;
}

button{
    background-color: #8B48BF;
    border: 1px solid white;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    height: 44px;
    width: 134px;
}

/*Boby*/

/*Sección 1*/

.seccion1{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 100px 180px;
}

.seccion1 div{
    align-items: center;
    display: grid;
    height: 400px;  
    justify-items: right;
    text-align: right;
    width: 450px;
}

h1{
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 20px;
}

.seccion1 div h4{
    font-size: 1rem;
    line-height: 26px;
    margin-bottom: 20px;
}

/*Sección 2*/

.seccion2{
    background-color: #8B48BF;
    display: flex;
    color: #FFFF;
    justify-content: space-between;
    padding: 40px 200px;
}

.seccion2 p{
    height: 88px;
    text-align: left;
    width: 450px;
}

.seccion2 h2{
    height: 88px;
    font-size: 36px;
    width: 450px;
}

/*Sección 3*/

.seccion3{
    background-color: #FAFAFA;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 0px;
}

.seccion3 article{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.seccion3 span{
    align-items: center;
    background-color: #8B48BF;
    border-radius: 20px;
    color: white;
    display: flex;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-style: normal;
    font-weight: 700;
    height: 43px;
    justify-content: center;
    width: 70px;
}

.seccion3 div{
    height: 162px;
    width: 437px;
}

/*Sección 4*/

.seccion4{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.seccion4 h2{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 40px;
}

.articulos{
    display: flex;
    margin-top: 75px;
    position: relative;
}

.seccion4 div article{
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 250px;
    justify-content: end;
    width: 445px;
}

article h3{
    color: #3F4868;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    padding-top: 20px;
}

article p{
    color: #B9B9C1;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    padding: 19px 5px;
    text-align: center;
}

.rectangulo{
    background-color: #FAFAFA;
    bottom: 0px;
    height: 218px;
    position: absolute;
    width: 445px;
    z-index: -1;
}

.seccion4 button{
    margin: 50px 0px;
}

.articulos .sanyo{display: none;}

.articulos .navarro{display: none;}

/*Sección 5*/

.seccion5{
    align-items: center;
    background-color: #8B48BF;
    display: flex;
    height: 224px;
    justify-content: space-between;
}

.seccion5 h2{
    color: white;
    font-size: 40px;
    left: 165px;
    position: relative;
    width: 400px;
}

.seccion5 button{
    background-color: white;
    color: #8B48BF;
    position: relative;
    right: 200px;
}

/*Elementos del footer - Mobile first*/

footer{
    align-items: center;
    background-color: #1E1E26;
    display: flex;
    flex-direction: column;
    font-family: 'Be Vietnam Pro', sans-serif;
    padding: 40px 50px;
}

.footer_section{
    margin: 12.5px 0px;
    padding: 10px;
}

#suscription input{
    border: 0px;
    border-radius: 20px;
    height: 44px;
    padding: 10px;
    width: 45vw;
}

#suscription button{
    background-color: #8B48BF;
    border: 0px;
    border-radius: 20px;
    color: white;
    height: 42px;
    padding: 10px;
    width: 63px;
}

#mapa_sitio ul{
    align-content: space-between;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 120px;
    width: 55vw;
}

#mapa_sitio li{
    padding-bottom: 7px;
}

.item_mapa{
    color: #FFFFFF;
    font-weight: 400;
    line-height: 23px;
    text-decoration: none;
}

#redes_sociales ul{
    display: flex;
    justify-content: space-between;
    width: 65vw;
}

#copyright{
    color: #8C8C94;
    font-size: 12.5px;
    font-weight: 500;
    margin-bottom: 0px;
}

/*Responsive*/
/*First Mobile*/

/*Laptop en adelante*/

@media (min-width: 769px){
    /*Sección 4*/

    .articulos .navarro{display: block;}

    .articulos .sanyo{display: block;}

    /*Footer*/
    footer{
        flex-wrap: wrap;
        height: 250px;
    }

    #logo_footer{
        order: 1;
    }

    #redes_sociales{
        order: 2;
    }

    #redes_sociales ul{
        width: 174px;
    }

    #mapa_sitio{
        order: 3;
    }

    #mapa_sitio ul{
        width: 30vw;
    }

    #suscription{
        order: 4;
    }

    #suscription input{
        width: 200px;
    }

    #copyright{
        order: 5;
    }
}